# To use this, direnv must be installed and direnv allow
export DEVELOPMENT=1
export PRODUCTION=0

export DB_HOST=scidash-postgres
export DB_PORT=5432
export DB_NAME=scidash
export DB_USER=scidash_admin
export DB_PASSWORD=scidash_local_password

export STATIC_URL=/static/
export STATIC_DIR=static

export REDIS_URL=redis://scidash-redis:6379

export GEPPETTO_SERVLET_URL='ws://localhost:8080/org.geppetto.frontend/GeppettoServlet'
export GEPPETTO_BASE_URL='http://localhost:8080/org.geppetto.frontend/geppetto'
export BASE_PROJECT_FILES_HOST='http://localhost:8000/static/projects/'
