django==1.11.23
psycopg2==2.7.7
channels==2.1.2
djangorestframework==3.7.1
drf-writable-nested
django-filter==1.1.0
djangorestframework-jwt
django-extensions
django-dotenv
rest-framework-cache
django-material
celery[redis]
django-celery-beat
django-celery-results
django-db-logger
git+git://github.com/scidash/neuronunit@metacell#egg=neuronunit
wheel==0.33.6
sentry-sdk==0.14.1
