psycopg2
django==1.11.23
channels==2.1.2
djangorestframework==3.7.1
drf-writable-nested
django-filter==1.1.0
djangorestframework-jwt
django-extensions
django-dotenv
rest-framework-cache
django-material
celery[redis]
django-celery-beat
django-celery-results
django-db-logger
git+git://github.com/ddelpiano/neuronunit@4.0.0#egg=neuronunit
