{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<style>
.login-container{
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 250px;
}
</style>

<div class="login-container">
  <h5>SCIDASH LOGIN</h5>
  <a href="{% url 'sign-up' %}">Have no account? Then sign-up!</a>
  <form method="POST">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <input type="hidden" name="next" value="{% url 'index' %}">
    <button type="submit" name="_submit" class="btn">Submit</button>
  </form>
  <a href="{% url 'index' %}">Go home</a>
</div>
