{% include 'registration/base-template.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

{% block content %}
   <div class="login-container">
  <h5>SCIDASH LOGIN</h5>
  <br>
  <a href="{% url 'social:begin' 'github' %}">
    <button class="btn" style="float: left; letter-spacing: 0px; margin: 10px; width: 180px">
      Login with GitHub
    </button>
  </a>
  <a href="{% url 'social:begin' 'google-oauth2' %}">
    <button class="btn" style="float: left; letter-spacing: 0px; margin: 10px; width: 180px">
      Login with Google
    </button>
  </a>
  <a href="{% url 'social:begin' 'twitter' %}">
    <button class="btn" style="float: left; letter-spacing: 0px; margin: 10px; width: 180px">
      Login with Twitter
    </button>
  </a>
  <a href="{% url 'index' %}" style="float: left; margin: 40px; width: 100%">Go home</a>
</div>
{% endblock %}


