{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<style>
.password-reset-container{
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 250px;
}
</style>

<div class="password-reset-container">
  <h5>SCIDASH RESET PASSWORD</h5>
  <form method="POST">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <button type="submit" name="_submit" class="btn">Submit</button>
  </form>
  <a href="{% url 'index' %}">Go home</a>
</div>

