{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<style>
.registration-container{
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 250px;
}
</style>

<div class="registration-container">
  <h5>SCIDASH SIGN UP</h5>
  <form method="post">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <button type="submit" name="_submit" class="btn">Sign up</button>
  </form>
</div>
