version: '2'

services:
  scidash-redis:
    image: redis
    expose:
      - 6379
  scidash-postgres:
    image: metacell/scidash_db:latest
    container_name: scidash_db
    expose:
      - 5432
    volumes:
      - ./database:/var/lib/postgresql/
  scidash-virgo:
    image: metacell/scidash_virgo:latest
    container_name: scidash_virgo
    volumes:
      - geppettoTmp-volume:/opt/virgo/geppettoTmp
    expose:
      - 8080
    mem_reservation: 5120m
    mem_limit: 10240m
    privileged: true
    shm_size: 512M
    depends_on:
      - scidash-redis
      - scidash-postgres
  scidash:
    image: metacell/scidash:latest
    container_name: scidash
    volumes:
      - geppettoTmp-volume:/opt/virgo/geppettoTmp
    ports:
      - 8000:8000
    depends_on:
      - scidash-redis
      - scidash-postgres
      - scidash-virgo

volumes:
  geppettoTmp-volume:
    driver_opts:
      o: uid=1000,gid=1000
      device: tmpfs
      type: tmpfs
